spring:
  datasource:
    hikari:
      jdbc-url: jdbc:mysql://localhost:3306/batch?logger=com.mysql.cj.log.Slf4JLogger&profileSQL=true
      username: root
      password:
      driver-class-name: com.mysql.cj.jdbc.Driver
  batch.job.names: ${job.name:NONE} # spring.batch.job.names = NONE # job.name이 있으면 해당값을 없으면 NONE. NONE -> 아무것도 실행안함.
logging.level.org.springframework.batch: DEBUG
---
spring:
  profiles: local
  datasource:
    hikari:
      jdbc-url: jdbc:h2:mem:testdb;DB_CLOSE_DELAY=-1;DB_CLOSE_ON_EXIT=FALSE
      username: sa
      password:
      driver-class-name: org.h2.Driver